<section>
  <h2>活動内容</h2>
  <h3>コーチングやお金の事情、子どもとの遊び方など、ママにとって必要な情報をワークショップ形式で発信。</h3>

  <section class="list" id="list_4">
    <h4 style="margin-left: 0;">広報もりや　お知らせ版 10/25号に掲載されました。</h4>
    <p>11/16に開催予定の『子育てと仕事を笑顔で両立するコツ』マネー編のワークショップについて、広報もりや　おしらせ版　10/25号の情報ひろばに掲載されました。</p>
    <ul>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'moriya_1.jpg' %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'moriya_2.jpg' %>
      </li>
    </ul>
  </section>

  <section class="list" id="list_3">
    <h4 style="margin-left: 0;">ちいき新聞　取手・守谷版 10/21号に掲載されました。</h4>
    <p>11/16に開催予定の『子育てと仕事を笑顔で両立するコツ』マネー編のワークショップについて、ちいき新聞　取手・守谷版　10/21号のイベント情報に掲載されました</p>
    <ul>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'chiiki_1.jpg' %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'chiiki_2.jpg' %>
      </li>
    </ul>
  </section>

  <section class="list" id="list_2">
    <h4 style="margin-left: 0;">2016年10月15日(土）10時から守谷市　高野公民館で</h4>
    <p>第1回目のワークショップ『復職前にしっておこう！子育てと仕事を”笑顔”で両立するコツ』</p>
    <p>～コーチングから学ぶ　自発的なパパの育て方～　を開催しました。</p>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('study.JPG', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">お子様をお預かりして、約1時間、コーチングについて話を聞いたり、意見を述べたりシェアしたり、集中して参加していただきました。
          自身の行動を振り返っていただいたり、知る事でイライラが少し解消されたり。
          心にゆとりを持つ事が、コツです！</p>
      </li>
    </ul>
    <hr>
    <ul style="height: 200px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('takuzi.JPG', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 10px 0 0 10px">託児ありということで、小さなお子様もいらっしゃいました。
          託児スタッフと慣れるまで、ママの近くで遊んだり、別室で好きに遊んだり、ママが勉強している時間を
          子ども達も察してくれて、とてもいい子でした。</p>
      </li>
    </ul>
    <hr>
    <ul style="height: 300px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('ehon.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 50px 0 0 10px">最後は、絵本アドバイザーによる、絵本の紹介や、『だるまさんシリーズ』の読み聞かせタイム。
          ママもお子様も、リラックスして聞いてくださいました。</p>
      </li>
    </ul>
    <hr>
    <p>
      帰る際の皆様の笑顔のように、パパとの関わり方やコミュニケーション方法を実践していただき、
      笑顔で過ごす事が多くなれば嬉しいです！
    </p>
    <p>
      次回は、11月。気になる”お金”についてのワークショップです。
      教育費って？老後って？？気になるところを皆でシェアします！
      （※11月は会場がミ・ナーデに変更しました）
    </p>

  </section>

  <section class="list" id="list_1">
    <h4 style="margin-left: 0;">2016年10月15日(土)・11/16(水）</h4>
    <p style="margin-left: 0;">『復職前に知っておこう！子育てと仕事を”笑顔”で両立するコツ』茨城県守谷市内にて開催</p>
    <%= image_tag('poster.png', :width => '100%', :style => 'margin: 15px 0;') %>
    <p>申し込みは info[at]star-mothers.com にご連絡ください。</p>
  </section>

</section>

<style type="text/css">
  section.list > p {
    margin-left: 0!important;
  }
</style>