<section>
  <h2>活動内容</h2>
  <h3>コーチングやお金の事情、子どもとの遊び方など、ママにとって必要な情報をワークショップ形式で発信。</h3>

  <section class="list" id="list_14">
    <h4 style="margin-left: 0;">広報もりや　11/10号に掲載されました。</h4>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 45%;">
        <%= image_tag('20171110.JPG', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 55%;">
        <p style="margin: 0 0 0 10px">
          11/29(水)に開催予定の <br>
          『ママによるママの為の復職前に知っておきたいコト～教育資金編～』<br>
          のワークショップについて、広報もりや　11/10号の情報ひろばに掲載されました。
        </p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_13">
    <h4 style="margin-left: 0;">ちいき新聞　取手・守谷版 10/27号に掲載されました。</h4>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 45%;">
        <%= image_tag('20171027.JPG', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 55%;">
        <p style="margin: 0 0 0 10px">
          11/29(水)に開催予定の <br>
          『ママによるママの為の復職前に知っておきたいコト～教育資金編～』 <br>
          のワークショップについて、ちいき新聞　取手・守谷版　10/27号のイ
          ベント情報に掲載されました。
        </p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_12">
    <h4 style="margin-left: 0;">ワークショップ開催！<br>『ママによるママの為の復職前に知っておきたいコト～教育資金編～』</h4>
    2017年11月29日(水)10:30～11:30　茨城県守谷市の南守谷児童センター(ミ･ナーデ）視聴覚室にて　ワークショップを開催します！<br>
    『このままで大丈夫かな？』教育資金への不安ありませんか？ワークショップ形式で教育資金について“今”考えましょう！<br>
    託児付きですので、集中して考えていただけます。<br>
    最後は、お子さまと一緒に、絵本の読み聞かせも行います。<br><br>

    参加は無料ですが、託児利用時は1名500円を頂戴します。<br>
    先着12名様 (託児は先着6名様)<br>
    26日までに下記へお申込をお願いします。<br>

    ご予約･お問合せは…<br>
    info[at]star-mothers.com<br>
    <%= image_tag('20171025.jpg', :width => '100%', :style => 'margin: 15px 0;') %>
  </section>

  <section class="list" id="list_11">
    <h4 style="margin-left: 0;">『子連れでおでかけ＆コーチング講座』講師を務めました</h4>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 45%;">
        <%= image_tag('20170906.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 55%;">
        <p style="margin: 0 0 0 10px">
          子連れでのおでかけがもっとラクに楽しくなるように、<br>
          ①ママの気持ちについて<br>
          ②コーチングに基づく子どもとのコミュニケーション方法（言い方・伝え方）<br>
          ③実際におでかけする際にあると便利なグッズ紹介　<br>
          を行いました。
          具体的な事例をあげ、『こんな時はどう声をかけるとスムーズにいくのか？』を皆様と一緒に考えながら、ポイントをお話ししました。<br>
          事例を挙げる事で、とても分かりやすいと嬉しいお言葉をいただきました。
        </p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_10">
    <h4 style="margin-left: 0;">ちいき新聞　5/26号に掲載・用語解説をしました</h4>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170526_1.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">
          千葉県・埼玉県を中心に約200万部発行しているフリーペーパーの『ちいき新聞』5/26号に『知っていれば何かトクする　FPに聞くおトク用語』
          を教える人（ファイナンシャルプランナー）として、用語解説を行い、全発行分に掲載されました。
        </p>
      </li>
    </ul>
    <ul style="">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170526_2.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
    </ul>
  </section>


  <section class="list" id="list_9">
    <h4 style="margin-left: 0;">守谷市　松丸修久市長と対話しました。</h4>
    <p>守谷市　松丸修久市長がすたーまざーずの活動に興味を持ってくださり、対話させていただきました。</p>
    <ul style="height: 305px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170414_1.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">すたーまざーずの経緯や活動について、じっくり話を聞いてくださいました。
          働くママが増える中、『今は自分たちの時代と違うから、現役のママ達の目線で物事を進めるという事が大事だ』とおっしゃっていただきました。</p>
      </li>
    </ul>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170414_2.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">ご自身のお嬢様も働くママという事で、とても親身になって聞いてくださったのが印象的でした。<br>
          子育て王国守谷を掲げるだけあって、『ママ達の役に立つ事はぜひ！』というお話をいただきました。<br>
          お孫さんの話が出ると、優しいおじいちゃんの顔でした。</p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_8">
    <h4 style="margin-left: 0;">『職場復帰のコツ』　講師を務めました。</h4>
    <p>ある企業内で、ママ社員さん向けの職場復帰のコツについての講師を務めさせていただきました。</p>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170315.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">産休育休後の職場復帰に向け、家庭と仕事のバランスについてやトラブル対応などをお伝えします。<br>
          復帰間近という方が多く、皆様、『自分ならどうするか？』を真剣に考え、受講していただきました。</p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_7">
    <h4 style="margin-left: 0;">『子どもとお出かけするコツ』　講師を務めました。</h4>
    <p>小さなお子さまがいるママに『おでかけのコツ』をお伝えする講座があり、その講師を務めさせていただきました。</p>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170304.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">子連れでおでかけする時の気持ちの捉え方や、実際にあると便利なグッズなどを紹介します。
          ママ同士で自己紹介をしていただき、交流のきっかけ作りも。<br>
          ボールプールなどあり、お子さまも楽しそうに自由に遊んでいました。</p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_6">
    <h4 style="margin-left: 0;">女性・若者企画提案チャレンジ支援事業の実績報告会に参加しました。</h4>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20170128.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">茨城県水戸三の丸にある「大好きいばらき県民会議」にて助成金の交付を受けた団体が一同に会し、報告会が行われました。<br>
          県内でママの為にと活動していらっしゃる方ともお会いしたり、とても有意義な一日となりました。</p>
      </li>
    </ul>
  </section>

  <section class="list" id="list_5">
    <h4 style="margin-left: 0;">ワークショップ　～マネー編～　を開催しました</h4>
    <p>2016年11月16日(水)10時から守谷市　南守谷児童センター(ミ・ナーデ）にて
      第2回目のワークショップ『復職前にしっておこう！子育てと仕事を”笑顔”で両立す
      るコツ』<br>
      ～このままで大丈夫？　子育てと老後のお金事情～　を開催しました。</p>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20161116_1.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">今回は、お金の話です。子育て＆老後にいったいいくら必要かというとてもシビアな内容でしたが、皆様、真剣に耳を傾けて聞いて下さいました。</p>
      </li>
    </ul>
    <hr>
    <ul style="height: 200px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20161116_2.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 30px 0 0 10px">
          これからの人生でいつ、いくら必要かという事をご自身の年齢や家族の年齢に合わせて簡易版ではありますが、実際にライフプランをご自身で考えて書いていただきました。書く事で〝人生は長い″という事も含め実感していただき、老後の事も真剣に向き合っていただきたいと思ったからです。
        </p>
      </li>
    </ul>
    <br>
    <br>
    <hr>
    <ul style="height: 300px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('20161116_3.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 30px 0 0 10px">
          最後は、絵本の読み聞かせタイム。1時間、ママと離れ離れだったお子さまもママの膝の上で安心して、聞いてくれている様子。数分ですが、ママは勉強、お子さまも1時間頑張ってママと離れて遊んでくれたので、お互いリラックスタイムになればと思っています。
        </p>
      </li>
    </ul>
    <hr>
    <p>
      子育てしていると、人生に掛かるお金について、本気で考える時間も中々とれないと思いますが、具体的に金額を聞けて良かったという声や、考える時間を作れて良かったといったお声を頂きました。
      <br>
      ご参加いただいた皆様、本当にありがとうございました！<br>
      キャンセル待ちをしていただいた皆様、開催情報は決定次第、アップいたしますので、乞うご期待です！
    </p>

  </section>

  <section class="list" id="list_4">
    <h4 style="margin-left: 0;">広報もりや　お知らせ版 10/25号に掲載されました。</h4>
    <p>11/16に開催予定の『子育てと仕事を笑顔で両立するコツ』マネー編のワークショップについて、広報もりや　おしらせ版　10/25号の情報ひろばに掲載されました。</p>
    <ul>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'moriya_1.jpg' %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'moriya_2.jpg' %>
      </li>
    </ul>
  </section>

  <section class="list" id="list_3">
    <h4 style="margin-left: 0;">ちいき新聞　取手・守谷版 10/21号に掲載されました。</h4>
    <p>11/16に開催予定の『子育てと仕事を笑顔で両立するコツ』マネー編のワークショップについて、ちいき新聞　取手・守谷版　10/21号のイベント情報に掲載されました</p>
    <ul>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'chiiki_1.jpg' %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <%= image_tag 'chiiki_2.jpg' %>
      </li>
    </ul>
  </section>

  <section class="list" id="list_2">
    <h4 style="margin-left: 0;">2016年10月15日(土）10時から守谷市　高野公民館で</h4>
    <p>第1回目のワークショップ『復職前にしっておこう！子育てと仕事を”笑顔”で両立するコツ』</p>
    <p>～コーチングから学ぶ　自発的なパパの育て方～　を開催しました。</p>
    <ul style="height: 380px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('study.JPG', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 100px 0 0 10px">お子様をお預かりして、約1時間、コーチングについて話を聞いたり、意見を述べたりシェアしたり、集中して参加していただきました。
          自身の行動を振り返っていただいたり、知る事でイライラが少し解消されたり。
          心にゆとりを持つ事が、コツです！</p>
      </li>
    </ul>
    <hr>
    <ul style="height: 200px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('takuzi.JPG', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 30px 0 0 10px">託児付きですが、お子様が託児スタッフに慣れるまでママの近くで遊んだり、臨機応変に対応させていただきました。</p>
      </li>
    </ul>
    <hr>
    <ul style="height: 300px;">
      <li class="pull-left" style="width: 50%;">
        <%= image_tag('ehon.jpg', :width => '80%', :style => 'margin: 15px 0;') %>
      </li>
      <li class="pull-left" style="width: 50%;">
        <p style="margin: 50px 0 0 10px">最後は、絵本アドバイザーによる、絵本の紹介や、『だるまさんシリーズ』の読み聞かせタイム。
          ママもお子様も、リラックスして聞いてくださいました。</p>
      </li>
    </ul>
    <hr>
    <p>
      帰る際の皆様の笑顔のように、パパとの関わり方やコミュニケーション方法を実践していただき、
      笑顔で過ごす事が多くなれば嬉しいです！
    </p>
    <p>
      次回は、11月。気になる”お金”についてのワークショップです。
      教育費って？老後って？？気になるところを皆でシェアします！
      （※11月は会場がミ・ナーデに変更しました）
    </p>

  </section>

  <section class="list" id="list_1">
    <h4 style="margin-left: 0;">2016年10月15日(土)・11/16(水）</h4>
    <p style="margin-left: 0;">『復職前に知っておこう！子育てと仕事を”笑顔”で両立するコツ』茨城県守谷市内にて開催</p>
    <%= image_tag('poster.png', :width => '100%', :style => 'margin: 15px 0;') %>
    <p>申し込みは info[at]star-mothers.com にご連絡ください。</p>
  </section>

</section>

<style type="text/css">
  section.list > p {
    margin-left: 0!important;
  }
</style>