<aside id="mainimg">
  <%= image_tag('star-mothers1.png', :id => 'slide1') %>
  <%= image_tag('star-mothers2.png', :id => 'slide2') %>
</aside>
<section id="new">
  <h2 id="newinfo_hdr" class="close">更新情報・お知らせ</h2>
  <dl id="newinfo">
    <dt>2016/10/25</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to '広報もりや　お知らせ版10/25号に掲載されました。', '/activity#list_4' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/10/21</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ちいき新聞　取手・守谷版　10/21号に掲載されました。', '/activity#list_3' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/10/15</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ワークショップ　～コーチング編～　を開催しました！', '/activity#list_2' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/09/01</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ワークショップ開催！『復職前に知っておこう！子育てと仕事を”笑顔”で両立するコツ』', '/activity#list_1' %></dd>
  </dl>
</section>
