<aside id="mainimg">
  <%= image_tag('star-mothers1.png', :id => 'slide1') %>
  <%= image_tag('star-mothers2.png', :id => 'slide2') %>
</aside>
<section id="new">
  <h2 id="newinfo_hdr" class="close">更新情報・お知らせ</h2>
  <dl id="newinfo">
    <dt>2017/5/26</dt>
    <dd><%= link_to 'ちいき新聞　5/26号に掲載・用語解説をしました', '/activity#list_10' %><span class="newicon">NEW</span></dd>
  </dl>
  <dl id="newinfo">
    <dt>2017/04/12</dt>
    <dd><%= link_to '守谷市　松丸修久市長と対話しました。', '/activity#list_9' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2017/03/15</dt>
    <dd><%= link_to '『職場復帰のコツ』　講師を務めました', '/activity#list_8' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2017/03/04</dt>
    <dd><%= link_to '『子どもとお出かけするコツ』　講師を務めました', '/activity#list_7' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2017/01/28</dt>
    <dd><%= link_to '女性・若者企画提案チャレンジ支援事業の実績報告会に参加しました', '/activity#list_6' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/11/16</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ワークショップ　～マネー編～　を開催しました', '/activity#list_5' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/10/25</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to '広報もりや　お知らせ版10/25号に掲載されました。', '/activity#list_4' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/10/21</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ちいき新聞　取手・守谷版　10/21号に掲載されました。', '/activity#list_3' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/10/15</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ワークショップ　～コーチング編～　を開催しました！', '/activity#list_2' %></dd>
  </dl>
  <dl id="newinfo">
    <dt>2016/09/01</dt>
    <!--<dd>tp_home1公開。<span class="newicon">NEW</span></dd>-->
    <dd><%= link_to 'ワークショップ開催！『復職前に知っておこう！子育てと仕事を”笑顔”で両立するコツ』', '/activity#list_1' %></dd>
  </dl>
</section>
